#home-section-1 {
  padding-top: 90px;
  .main-title {
    padding: 50px 0 25px 0;
    img {
      width: 670px;
      max-width: 90vw;
    }
  }
  .prolog {
    font-family: 'Keep Calm';
    width: 600px;
    max-width: 90vw;
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
    color: $color--dark-1;
    text-transform: uppercase;
  }
  .date-time {
    font-family: 'Keep Calm';
    padding: 30px 0;
    text-transform: uppercase;
    @include flexbox(center, center, column);
    span {
      letter-spacing: 8px;
      word-spacing: 10px;
      font-size: 24px;
      margin: 5px 0;
      &.address {
        font-size: 14px;
        letter-spacing: 5px;
        color: $color--peach;
      }
    }
  }
  .register-button {
    padding: 15px 0;
    width: 100%;
    @include flexbox();
    position: relative;
  }
}
// bible verse
#bible-verse-section {
  padding: 100px 0 40px 0;
  .bible-verse-container {
    @include grid(400px calc(100% - 400px));
    width: 650px;
    z-index: 1;
    .bible-verse-image {
      width: 100%;
      position: relative;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .bible-verse-asset {
        width: 80px;
        position: absolute;
        &#bible-verse-asset1 {
          left: 50px;
          top: -5px;
          width: 120px;
        }
        &#bible-verse-asset2 {
          right: 70px;
          bottom: 0px;
          width: 80px;
          z-index: 3;
        }
        &#bible-verse-asset3 {
          right: -70px;
          bottom: -20px;
          width: 250px;
          opacity: 0.4;
          z-index: 2;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .bible-verse-content {
      z-index: 2;
      @include flexbox(center, top, column);
      .verse {
        font-size: 18px;
        letter-spacing: 3px;
        color: $color--pink;
        margin-bottom: 2px;
        font-family: 'Keep Calm';
      }
      .version {
        font-size: 16px;
        letter-spacing: 3px;
        margin-bottom: 15px;
        font-weight: 700;
      }
      p {
        font-size: 12px;
        word-spacing: 2px;
        width: 250px;
        max-width: 100%;
        letter-spacing: 1px;
        font-family: 'Keep Calm';
        color: $color--dark-1;
      }
    }
  }
}
// speakers
#home-section-2 {
  ul {
    padding: 0
  }
  .speakers-container {
    padding-top: 90px;
    padding-bottom: 180px;
    margin-bottom: -120px;
    position: relative;
  }
  .guest-section {
    .swc-section-title {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }
  .swc-section-title {
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    font-size: 45px;
    display: block;
    letter-spacing: 8px;
  }
  .speakers {
    padding: 30px 0;
    ul {
      @include grid(1fr 1fr, 1fr 1fr);
      grid-gap: 0;
    }
  }
  .speaker {
    padding: 0;
    margin: 0;
    list-style: none;
    .speaker-profile-picture {
      width: 100%;
      position: relative;
      @include flexbox(center, center, column);
      .profile-picture {
        width: 170px;
        height: 170px;
        border-radius: 100%;
        border: 7px solid $color--peach;
        @include flexbox();
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .speaker-name {
        font-size: 40px;
        margin-top: 6px;
        font-family: 'Beyond Infinity';
        color: $color--pink;
      }
    }
  }
  .workshop-container {
    position: relative;
    z-index: 5;
    .workshop-title-container {
      margin-bottom: 45px;
      position: relative;
      h2 {
        color: $color--dark-1;
        font-size: 36px;
        position: relative;
        z-index: 3;
      }
      #section-2-bg-asset2 {
        width: 170px;
        right: 20px;
        top: -10px;
      }
    }
    .workshops {
      padding: 0;
      margin: 0;
      .workshop {
        padding: 0;
        margin-top: 15px;
        @include flexbox(center, center, column);
        span {
          text-align: center;
          &.workshop-title {
            font-size: 20px;
            color: $color--peach;
            margin-bottom: 4px;
            letter-spacing: 3px;
            font-family: 'Montserrat';
            font-weight: 700;
          }
          &.workshop-speaker {
            color: $color--dark-1;
            font-family: 'Beyond Infinity';
            font-size: 40px;
          }
        }
      }
    }
    .rundown-button {
      margin-top: 30px;
    }
  }
  .video-promotion {
    z-index: 4;
    padding: 180px 0;
    margin-top: -90px;
    position: relative;
    .video-container {
      img {
        width: 100%;
        height: auto;
      }
      .shine-promo-video {
        width: 100%;
        height: auto;
        border: 5px solid $color--peach
      }
      margin-bottom: 30px;
    }
  }
  .registration-price {
    margin-top: -120px;
    .swc-section-title {
      color: $color--dark-1;
      font-size: 40px;
      font-family: 'Keep Calm';
      letter-spacing: 12px;
    }
    #section-2-asset4 {
      position: relative;
      padding: 15px 0 0 0;
      @include flexbox();
      width: 110px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    ul {
      .price-type {
        margin: 30px 0;
        @include flexbox(center, center, column);
        .price-title {
          font-size: 20px;
          color: $color--pink;
          margin-bottom: 10px;
          font-family: 'Keep Calm';
          text-align: center;
          letter-spacing: 4px;
        }
        span:not(.price-title) {
          text-align: center;
          font-size: 18px;
          letter-spacing: 3px;
          margin-bottom: 6px;
          font-family: 'Keep Calm';
        }
      }
    }
  }
}
// social media
#home-section-3 {
  .connect-container {
    padding: 110px 0px 150px 0;
    position: relative;
    .swc-section-title {
      color: $color--dark-1;
      margin-bottom: 30px;
      font-size: 36px;
    }
    .social-media {
      padding: 0;
      margin: 0;
      .socmed {
        list-style: none;
        margin-bottom: 30px;
        @include flexbox(center, center, column);
        .socmed-logo {
          width: 80px;
          margin: 15px 0;
          @include flexbox()
        }
        .socmed-name, .contact-us {
          span {
            letter-spacing: 3px;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Keep Calm';
            margin: 5px 0;
            display: block;
            position: relative;
            text-align: center;
          }
        }
      }
    }
  }
}