@mixin flexbox($justify-content: center, $align-items: center, $flex-direction: row, $display: flex) {
	display: $display;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
}

@mixin grid($columns: 1fr 1fr 1fr, $rows: 1fr, $display: grid) {
	display: $display;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
}

@mixin boxshadow($left: 0px, $top:1px, $blur: 5px, $spread: 0px, $color: rgba(0,0,0,.2) ) {
	-moz-box-shadow: $left $top $blur $spread $color;
	box-shadow: $left $top $blur $spread $color;
	-webkit-box-shadow: $left $top $blur $spread $color;
}

@mixin transition ($transition: all ease-in-out .15s) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}