@font-face {
  font-family: 'Beyond Infinity';
  src: url("/fonts/Beyond-Infinity-Demo.woff") format("woff");
}

@font-face {
  font-family: 'Keep Calm';
  src: url("/fonts/KeepCalm-Medium.woff") format("woff");
}

$primary-font: 'Open Sans';
$secondary-font: 'Montserrat'